body{
    background-image: url("Glorious-blue-mountain-range.jpg");
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    border-radius: 50px;
    background-color: #DAD8D7;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 30%;
    height: fit-content;
    vertical-align: middle;
}

input{
    width: 80%;
    height: 100%;
    vertical-align: middle;
    float: none;
    background-color: transparent;
    border: none;
}

h1,h2,h3{
    color: #FBEEC1;
}

button{
    width: 30%;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
    background-color: #E5E5E5;
}

#user-i{
    float: left;
    width: auto;
    height: 50px;
}

label{
    text-align: left;
}